@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Light.eot');
    src: url('MontserratAlternates-Light.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-Light.woff2') format('woff2'),
        url('MontserratAlternates-Light.woff') format('woff'),
        url('MontserratAlternates-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Medium.eot');
    src: url('MontserratAlternates-Medium.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-Medium.woff2') format('woff2'),
        url('MontserratAlternates-Medium.woff') format('woff'),
        url('MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Regular.eot');
    src: url('MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-Regular.woff2') format('woff2'),
        url('MontserratAlternates-Regular.woff') format('woff'),
        url('MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-SemiBold.eot');
    src: url('MontserratAlternates-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('MontserratAlternates-SemiBold.woff') format('woff'),
        url('MontserratAlternates-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Thin.eot');
    src: url('MontserratAlternates-Thin.eot?#iefix') format('embedded-opentype'),
        url('MontserratAlternates-Thin.woff2') format('woff2'),
        url('MontserratAlternates-Thin.woff') format('woff'),
        url('MontserratAlternates-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

